* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 150px;
    min-height: 150px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 6px;
    font-family: monospace;
    padding: 5rem;
}

.container #kodBlogu {
    background-color: #121927;
    font-weight: 600;
    font-size: 2rem;
    padding: 30px;
    width: 35rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.container #kod {
    color: rgb(73, 166, 233);
    letter-spacing: 2px;
    margin-right: 1rem;
}

.container #btn {
    padding: 15px;
    border: 2px solid #121927;
    background-color: transparent;
    color: #121927;
    width: 9rem;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s;
    letter-spacing: 3px;
}

.container #btn:hover {
    background-color: #121927;
    color: white;
}